.wrapper {
  display: table;
  justify-content: center;
  margin-top: 30px;
  padding: 20px 0px 20px 0px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.option {
  border: 1px solid #3db29e;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3db29e;
  display: table-cell;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.selected {
  border: 3px solid #3db29e;
  background-color: #3db29e;
  color: #FFFFFF;
}

.option:hover {
  border: 3px solid rgba(61, 178, 158, 0.75);
}
