.wrapper {
  display: table;
  table-layout: fixed;
  width : 100%;
  justify-content: center;
  text-align: center;
  padding : 20px 0px 20px 0px;
  margin-top : 30px;
}

.option {
  border: 1px solid #3db29e;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3db29e;
  text-align: center;
  display: table-cell;
  padding: 20px 0px 20px 0px;
}

.selected {
  color : #FFFFFF;
    border: 3px solid #3db29e;
    background-color: #3db29e;
}

.option:hover{
  border: 3px solid rgba(61, 178, 158, 0.75);
}
