.container {
  text-align: center;
}

.search {
  border: 1px solid #D3D3D3;
  border-radius: 30px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  /* -webkit-appearance: none; */
  width: 60%;
}

.search:focus {
  outline: none;
  border: 1px solid #00a399;
}

.loader {
  border: 5px solid rgba(0, 163, 153, 0.3);
  /* Light */
  border-top: 5px solid #00a399;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: table;
  margin: 0 auto;
  margin-top : 20px;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
