input {
  font-size: 12px;
}
.parent-container {
  height : 100vh;
}

.container {
  height : 30%;
  min-height: 275px;
  text-align: center;
}

.search {
  border: 2px solid #D3D3D3;
  border-radius: 30px;
  height: 40px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 60%;
}

.search:focus {
  border: 2px solid #00a399;
  outline: none;
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid rgba(0, 163, 153, 0.3);
  border-top: 5px solid #00a399;
  border-radius: 50%;
  display: table;
  height: 40px;
  margin: 0 auto;
  margin-top : 20px;
  width: 40px;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
